<div class="container-fluid" xmlns="http://www.w3.org/1999/html">

    <div class="panel panel-primary" style="margin-top: 10px">
        <!-- Default panel contents -->
        <div class="panel-heading">Clients
            <button type="button" class="btn btn-info pull-right" ng-click="openClient('lg')">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-danger pull-right headerButton" ng-disabled="selectedItems.length < 1"
                    ng-click="removeClient()" title="Remove a selected row">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>


        <!-- Table -->
        <table id="clients" class="table table-bordered table-condensed ">
            <tbody>
            <tr>
                <th>
                    <div>Name
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'name'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-name'"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.name" placeholder="Filter by name">
                    </div>
                </th>
                <th>
                    <div>Telephone
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'phone'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-phone'"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.phone" placeholder="by phone">
                    </div>
                </th>
                <th>
                    <div>Email
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'email'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-email'"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.email" placeholder="by email">
                    </div>
                </th>
                <th>
                    <div>Recomended by
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'recomendedBy'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-recomendedBy'"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.recomendedBy" placeholder="by recomended">
                    </div>
                </th>
                <th>
                    <div>Contacted at
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                              ng-click="predicate = 'date'"></span>
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                              ng-click="predicate = '-date'"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.date" placeholder="by date">
                    </div>
                </th>
            </tr>
            <tr ng-repeat="client in clients | filter:filterModel | orderBy:predicate"
                ng-class="{selectedRow: selectedItems.indexOf(client.id) != -1, clickable: true}"
                ng-dblclick="openClient('lg', client)"
                ng-click="onSelect(client)">
                <td><a href="/clients/{{client.id}}">{{client.name}}</a></td>
                <td>{{client.phone}}</td>
                <td>{{client.email}}</td>
                <td>{{getRecomendedByName(client.recomendedBy)}}</td>
                <td>{{client.date}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="addEditClientTemplate.html">
        <form name="form" class="css-form" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">{{title}}</h3>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input name="personName" type="text" class="form-control"
                           value="{{item.name}}" ng-model="item.name"
                           ng-maxlength="50" ng-minlength="3" ng-pattern="/^[a-zA-Z ]*$/"
                           ng-class="{'alert-success':form.personName.$dirty && form.personName.$valid, 'alert-danger':form.personName.$invalid && !form.personName.$pristine}"
                           placeholder="Insert name here" required>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Phone</span>
                    <input name="phoneNumber" type="tel" class="form-control"
                           value="{{item.phone}}" ng-model="item.phone"
                           ng-minlength="9" ng-maxlength="15" ng-pattern="/^\d+$/"
                           ng-class="{'alert-success':form.phoneNumber.$dirty && form.phoneNumber.$valid,'alert-danger':form.phoneNumber.$invalid && !form.phoneNumber.$pristine}"
                           placeholder="Insert phone here" required>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input name="email" type="email" class="form-control" ng-model="item.email"
                           ng-class="{'alert-success':form.email.$dirty && form.email.$valid,'alert-danger':form.email.$invalid && !form.email.$pristine}"
                           value="{{item.email}}" placeholder="Email address">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Recomended By</span>
                    <select name="recomendedOption" class="form-control" ng-model="item.recomendedBy"
                            ng-class="{'alert-success':form.recomendedOption.$dirty && form.recomendedOption.$valid, 'alert-danger':form.recomendedOption.$invalid && !form.recomendedOption.$pristine}">
                        <option value="{{type}}" ng-repeat="type in items | filter:filterItem" ng-selected="isRecomendedSelected(type)">{{type.name}}</option>
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Date</span>
                    <input name="date" type="date" class="form-control" value="{{item.date}}" ng-model="item.date"
                           ng-class="{'alert-success':form.date.$dirty && form.date.$valid, 'alert-danger':form.date.$invalid && !form.date.$pristine}"
                           placeholder="Date">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
</div>