<div class="container-fluid">
    <div class="panel panel-primary" style="margin-top: 10px">
        <!-- Default panel contents -->
        <div class="panel-heading">Contacts
            <button type="button" class="btn btn-info pull-right" ng-click="openContact('lg')">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>

        <!-- Table -->
        <table id="contacts" class="table table-bordered table-hover">
            <tbody>
            <tr>
                <th><div>Name
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                              ng-click="predicate = 'name'"></span>
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-name'"  ></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.name" placeholder="by name">
                    </div>
                </th>
                <th><div>Phone
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'phone'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-phone'"  ></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.phone" placeholder="by phone">
                    </div>
                </th>
                <th><div>Recomended by
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'recomendedBy'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-recomendedBy'"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.recomendedBy" placeholder="by recomended">
                    </div>
                </th>
                <th><div>Type
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'type'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-type'"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <select ng-model="filterModel.type">
                            <option value="" selected>None</option>
                            <option value="{{type}}" ng-repeat="type in types">{{type}}</option>
                        </select>
                    </div>
                </th>
                <th><div>Contacted at
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'date'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-date'"  ></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.date" placeholder="by date">
                    </div>
                </th>
            </tr>
            <tr ng-repeat="contact in contacts | filter:filterModel | orderBy:predicate"
                class="clickable" ng-click="openContact('lg', contact)">
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.recomendedBy}}</td>
                <td>{{contact.type}}</td>
                <td>{{contact.date}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="addEditContactTemplate.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" value="{{item.name}}" placeholder="Insert name here" required autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Phone</span>
                <input type="tel" class="form-control" value="{{item.phone}}" placeholder="Insert phone here" required>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Recomended By</span>
                <select class="form-control" ng-model="item.recomendedBy">
                    <option value="{{type.name}}" ng-repeat="type in items">{{type.name}}</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Type</span>
                <select class="form-control" ng-model="item.type">
                    <option value="{{item.type}}" selected>{{item.type}}</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Date</span>
                <input type="date" class="form-control" value="{{item.date}}" placeholder="Date">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>