<div class="container-fluid">
    <div class="panel panel-primary" style="margin-top: 10px">
        <!-- Default panel contents -->
        <div class="panel-heading">Contacts
            <button type="button" class="btn btn-info pull-right" ng-click="openContact('lg')" title="Add new contact">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-danger pull-right headerButton" ng-disabled="selectedItems.length < 1" ng-click="removeContact()" title="Remove a selected row">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

        <!-- Table -->
        <table id="contacts" class="table table-bordered">
            <tbody>
            <tr>
                <th><div>Name
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                              ng-click="predicate = 'name'"></span>
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-name'"  ></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.name" placeholder="by name">
                    </div>
                </th>
                <th><div>Phone
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'phone'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-phone'"  ></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.phone" placeholder="by phone">
                    </div>
                </th>
                <th><div>Recomended by
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'recomendedBy.name'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-recomendedBy.name'"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.recomendedBy.name" placeholder="by recomended">
                    </div>
                </th>
                <th><div>Type
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'type'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-type'"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <select ng-model="filterModel.type">
                            <option value="" selected>None</option>
                            <option value="{{type}}" ng-repeat="type in types">{{type}}</option>
                        </select>
                    </div>
                </th>
                <th><div>Contacted at
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                          ng-click="predicate = 'date'"></span>
                    <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-date'"  ></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.date" placeholder="by date">
                    </div>
                </th>
            </tr>
            <tr ng-repeat="contact in contacts | filter:filterModel | orderBy:predicate"
                ng-class="{selectedRow: selectedItems.indexOf(contact.id) != -1, clickable: true}"
                ng-dblclick="openContact('lg', contact)"
                title="Double click to edit"
                ng-click="onSelect(contact)">
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
                <td>{{getRecomendedByName(contact.recomendedBy)}}</td>
                <td>{{contact.type}}</td>
                <td>{{contact.date}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="addEditContactTemplate.html">
    <form name="form" class="css-form" novalidate>
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" name="personName"
                       ng-maxlength="50" ng-minlength="3"
                       ng-pattern="/^[a-zA-Z ]*$/"
                       ng-class="{'alert-success':form.personName.$dirty && form.personName.$valid, 'alert-danger':form.personName.$invalid && !form.personName.$pristine}"
                       value="{{item.name}}" ng-model="item.name" placeholder="Insert name here" required>
            </div>
            <div class="input-group">
                    <span class="input-group-addon">Phone</span>
                    <input name="phoneNumber" type="number" class="form-control"
                           ng-minlength="9" ng-maxlength="15" ng-pattern="/^\d+$/"
                           ng-class="{'alert-success':form.phoneNumber.$dirty && form.phoneNumber.$valid,'alert-danger':form.phoneNumber.$invalid && !form.phoneNumber.$pristine}"
                           value="{{item.phone}}" ng-model="item.phone" placeholder="Insert phone here" required>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Recomended By</span>
                <select name="recomendedOption" class="form-control" ng-model="item.recomendedBy"
                        ng-class="{'alert-success':form.recomendedOption.$dirty && form.recomendedOption.$valid, 'alert-danger':form.recomendedOption.$invalid && !form.recomendedOption.$pristine}">
                    <option value="{{type}}" ng-repeat="type in items | filter:filterItem" ng-selected="isRecomendedSelected(type)">{{type.name}}</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Type</span>
                <select name="typeOption" class="form-control" ng-model="item.type" required
                        ng-class="{'alert-success':form.typeOption.$dirty && form.typeOption.$valid, 'alert-danger':form.typeOption.$invalid && !form.typeOption.$pristine}">
                    <option value="Contact" selected>Contact</option>
                    <option value="Client">Client</option>
                    <option value="Member">Member</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Date</span>
                <input name="date" type="date" class="form-control" value="{{item.date}}"
                       ng-class="{'alert-success':form.date.$dirty && form.date.$valid, 'alert-danger':form.date.$invalid && !form.date.$pristine}"
                       ng-model="item.date" placeholder="Date" required>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
    </script>
</div>