<div class="container-fluid" ng-controller="DistributorsCtrl">
    <div class="panel panel-primary" style="margin-top: 10px">
        <!-- Default panel contents -->
        <div class="panel-heading">Distributors
            <button type="button" class="btn btn-info pull-right" ng-click="openDistributor('lg')">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <button type="button" class="btn btn-info pull-right" ng-click="">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

        <!-- Table -->
        <table id="distributors" class="table table-bordered table-condensed">
            <tbody>
            <tr>
                <th>
                    <div>Name
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                              ng-click="predicate = 'name'"></span>
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                              ng-click="predicate = '-name'"  ></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.name" placeholder="by name">
                    </div>
                </th>
                <th>
                    <div>Telephone
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                              ng-click="predicate = 'phone'"></span>
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                              ng-click="predicate = '-phone'"  ></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.phone" placeholder="by phone">
                    </div>
                </th>
                <th>
                    <div>
                        Position
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                              ng-click="predicate = 'position'"></span>
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-position'"  ></span>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.position" placeholder="by position">
                    </div>
                </th>
                <th>
                    <div>Sponsor
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                              ng-click="predicate = 'recomendedBy'"></span>
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                          ng-click="predicate = '-recomendedBy'"></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.recomendedBy" placeholder="by sponsor">
                    </div>
                </th>
                <th><div>
                        Email
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                              ng-click="predicate = 'email'"></span>
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                              ng-click="predicate = '-email'"  ></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.email" placeholder="by email">
                    </div>
                </th>
                <th><div>When
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes pull-right sortable"
                              ng-click="predicate = 'date'"></span>
                        <span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt pull-right sortable"
                              ng-click="predicate = '-date'"  ></span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Filter</span>
                        <input ng-model="filterModel.date" placeholder="by date">
                    </div>
                </th>
            </tr>
            <tr ng-repeat="distributor in distributors | filter:filterModel | orderBy:predicate"
                ng-class="{selectedRow: selectedItems[contact.id], clickable:true}" ng-dblclick="openContact('lg', contact)"
                ng-click="onSelect(contact)">
                <td>{{distributor.name}}</td>
                <td>{{distributor.phone}}</td>
                <td>{{distributor.position}}</td>
                <td>{{distributor.recomendedBy}}</td>
                <td>{{distributor.email}}</td>
                <td>{{distributor.date}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <script type="text/ng-template" id="addEditDistributorTemplate.html">
        <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
        </div>
        <div class="modal-body">
            <div class="input-group">
                <span class="input-group-addon">Name</span>
                <input type="text" class="form-control" value="{{item.name}}" placeholder="Insert name here" required autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Phone</span>
                <input type="tel" class="form-control" value="{{item.phone}}" placeholder="Insert phone here" required>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Position</span>
                <select class="form-control" ng-model="item.position">
                    <option value="{{position}}" ng-repeat="position in careerPositions">{{position}}</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Sponsor</span>
                <select class="form-control" ng-model="item.recomendedBy">
                    <option value="{{type.name}}" ng-repeat="type in items">{{type.name}}</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Email</span>
                <input type="email" class="form-control" value="{{item.email}}" placeholder="Email address">
            </div>
            <div class="input-group">
                <span class="input-group-addon">Date</span>
                <input type="date" class="form-control" value="{{item.date}}" placeholder="Date">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>