<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <img src="/resources/img/download.svg">
                <div class="caption">
                    <h3>Person Name</h3>
                    <p>Position</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="thumbnail">
                <img src="/resources/img/download.svg">
                <div class="caption">
                    <h3>Person Name</h3>
                    <p>Position</p>
                </div>
            </div>
        </div>
    </div>
</div>