<div class="container-fluid" ng-controller="CustomersCtrl">
    {{title}} Contacts Page

    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Distributors</div>

        <!-- Table -->
        <table class="table">
        </table>
    </div>

    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Contacts</div>

        <!-- Table -->
        <table class="table">
        </table>
    </div>

    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Clients</div>

        <!-- Table -->
        <table class="table">
        </table>
    </div>
</div>