<div class="container">

    <form class="form-signin" role="form" name="login" novalidate>
        <h2 class="form-signin-heading">Please login</h2>
        <input type="email" name="email" class="form-control" ng-model="email" placeholder="Email address" required autofocus>
        <input type="password" name="password" class="form-control" ng-model="password" placeholder="Password" required>
        <!--<label class="checkbox">-->
            <!--<input type="checkbox" ng-model="rememberme" value="remember-me"> Remember me-->
        <!--</label>-->
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="login.$invalid" ng-click="logIn();">Login in</button>
        <!--<a class="btn btn-lg btn-danger btn-block" href="{{user.userUrl}}">Google login</a>-->
    </form>

</div>
