<div class="container-fluid" ng-controller="ProductsCtrl">

    <div class="panel panel-primary" style="margin-top: 10px">
        <!-- Default panel contents -->
        <div class="panel-heading">Gallery
            <button type="button" class="btn btn-info pull-right" ng-click="addProduct()" title="Add new contact">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <!--<button type="button" class="btn btn-danger pull-right headerButton" ng-disabled="selectedItems.length < 1" ng-click="removeContact()" title="Remove a selected row">-->
                <!--<span class="glyphicon glyphicon-remove"></span>-->
            <!--</button>-->
        </div>

        <div class="row">
            <div class="col-md-4" ng-repeat="product in products">
                <div class="thumbnail">
                    <img src="{{product.productBlobKey+'=s300'}}" alt="" style="cursor: pointer" ng-click="openImage(product.productBlobKey)">

                    <div class="caption">
                        <h3>{{product.productName}}</h3>
                        <p>{{product.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="createProduct.html">
        <form class="css-form" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">{{title}}</h3>
            </div>
            <div class="modal-body">
                <div class="thumbnail">
                    <h3 ng-hide="imageSrc">Preview</h3>
                    <i ng-hide="imageSrc">No image chosed</i>
                    <img src="{{imageSrc}}" style="width:300px" alt="">

                    <div class="caption">
                        <input type="file" name="file" accept="image/*" ng-file-select="onFileSelect($files)">
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Product title</span>
                    <input name="personName" class="form-control"
                           value="{{item.productName}}" ng-model="item.productName"
                           ng-maxlength="50" ng-minlength="2" ng-pattern="/^[a-zA-Z0-9 ]*$/"
                           ng-class="{'alert-success':form.personName.$dirty && form.personName.$valid, 'alert-danger':form.personName.$invalid && !form.personName.$pristine}"
                           placeholder="Insert name here" required>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Phone</span>
                    <input name="productDescription" class="form-control"
                           value="{{item.description}}" ng-model="item.description"
                           ng-maxlength="50" ng-minlength="2" ng-pattern="/^[a-zA-Z0-9 ]*$/"
                           ng-class="{'alert-success':form.productDescription.$dirty && form.productDescription.$valid, 'alert-danger':form.productDescription.$invalid && !form.productDescription.$pristine}"
                           placeholder="Insert description here">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
    <script type="text/ng-template" id="imageFullSized.html">
        <img src="{{title+'=s900'}}" style="width:100%;">
    </script>
</div>