<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" id="view" content="user-scalable=yes, width=device-width, maximum-scale=1">

    <link rel="stylesheet" href="resources/css/index.css">
    <link rel="stylesheet" href="resources/angular/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="/resources/img/logo.png">
    <script src="resources/angular/jsapi/jsapi.js"></script>
    <!--<title>{{title}}</title>-->
    <title>Web Manager</title>
</head>
<body ng-controller="MainCtrl">

    <header id="header" ng-include="'resources/views/templates/header.html'"></header>
    <section id="content" style="margin-top: 50px;" ng-view></section>

    <script type="text/ng-template" id="imageFullSized.html">
        <!--<select ng-model="size" name="image">-->
            <!--<option value="">default</option>-->
            <!--<option value="600">normal</option>-->
            <!--<option value="800">large</option>-->
            <!--<option value="1000">extra-large</option>-->
        <!--</select>-->
        <img ng-src="{{title}}">
    </script>

    <script type="text/ng-template" id="confirmationPopup.html">
        <div class="modal-header">
            <h3 class="modal-title">Confirmation Popup</h3>
        </div>
        <div class="modal-body">
            {{title}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="evaluationTemplate.html">
        <form name="form" class="css-form" novalidate>
            <div class="modal-header">
                <h3 class="modal-title">{{title}}'s evaluation</h3>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">Date</span>
                    <input name="email" type="date" class="form-control"
                           value="{{item.date}}" ng-model="item.date"
                           ng-class="{'alert-success':form.email.$dirty && form.email.$valid, 'alert-danger':form.email.$invalid && !form.email.$pristine}"
                           placeholder="Insert email here" required>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Weight</span>
                    <input name="weight" type="range" class="form-control" value="{{item.weight}}"
                           ng-class="{'alert-success':form.weight.$dirty && form.weight.$valid,
                                      'alert-danger':form.weight.$invalid && !form.weight.$pristine}"
                           min="20" max="200" ng-model="item.weight" required>
                    <span class="input-group-addon" style="width:10% !important;">{{item.weight + " kg"}}</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Fat Percentage</span>
                    <input name="fat" type="range" class="form-control" value="{{item.fat}}"
                           ng-class="{'alert-success':form.fat.$dirty && form.fat.$valid,
                                      'alert-danger':form.fat.$invalid && !form.fat.$pristine}"
                           min="5" max="65" ng-model="item.fat" required>
                    <span class="input-group-addon" style="width:10% !important;">{{item.fat + " %"}}</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Muscle Mass</span>
                    <input name="muscle" type="range" class="form-control" value="{{item.muscle}}"
                           ng-class="{'alert-success':form.muscle.$dirty && form.muscle.$valid,
                                      'alert-danger':form.muscle.$invalid && !form.muscle.$pristine}"
                           min="40" max="90" ng-model="item.muscle" required>
                    <span class="input-group-addon" style="width:10% !important;">{{item.muscle + " %"}}</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">IMC</span>
                    <input name="imc" type="range" class="form-control" value="{{item.imc}}"
                           ng-class="{'alert-success':form.imc.$dirty && form.imc.$valid,
                                      'alert-danger':form.imc.$invalid && !form.imc.$pristine}"
                           min="15" max="40" ng-model="item.imc" required>
                    <span class="input-group-addon" style="width:10% !important;">{{item.imc}}</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Mineralization</span>
                    <input name="mineralization" type="range" class="form-control" value="{{item.mineralization}}"
                           ng-class="{'alert-success':form.mineralization.$dirty && form.mineralization.$valid,
                                      'alert-danger':form.mineralization.$invalid && !form.mineralization.$pristine}"
                           min="1" max="4" step="0.1" ng-model="item.mineralization" required>
                    <span class="input-group-addon" style="width:10% !important;">{{item.mineralization}}</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Metabolic Age</span>
                    <input name="metabolicage" type="range" class="form-control" value="{{item.metabolicage}}"
                           ng-class="{'alert-success':form.metabolicage.$dirty && form.metabolicage.$valid,
                                      'alert-danger':form.metabolicage.$invalid && !form.metabolicage.$pristine}"
                           min="12" max="90" ng-model="item.metabolicage" required>
                    <span class="input-group-addon" style="width:10% !important;">{{item.metabolicage}}</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Hydration</span>
                    <input name="hydration" type="range" class="form-control" value="{{item.hydration}}"
                           ng-class="{'alert-success':form.hydration.$dirty && form.hydration.$valid,
                                      'alert-danger':form.hydration.$invalid && !form.hydration.$pristine}"
                           min="30" max="80" ng-model="item.hydration" required>
                    <span class="input-group-addon" style="width:10% !important;">{{item.hydration + " %"}}</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Visceral Fat</span>
                    <input name="visceralfat" type="range" class="form-control" value="{{item.visceralfat}}"
                           ng-class="{'alert-success':form.visceralfat.$dirty && form.visceralfat.$valid,
                                      'alert-danger':form.visceralfat.$invalid && !form.visceralfat.$pristine}"
                           min="1" max="25" ng-model="item.visceralfat" required>
                    <span class="input-group-addon" style="width:10% !important;">{{item.visceralfat}}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>

    <!--<footer id="footer" ng-class="{'is-loading': loading.header}" ng-include="'resources/views/templates/footer.html'"></footer>-->

    <!-- Angular files -->
    <script src="resources/angular/angular.js"></script>
    <script src="resources/angular/route/angular-route.js"></script>
    <script src="resources/angular/animate/angular-animate.js"></script>
    <script src="resources/angular/resource/angular-resource.js"></script>
    <script src="resources/angular/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>


    <!-- Jquery files -->
    <script src="resources/angular/jquery/jquery.js"></script>

    <!-- Application files -->
    <script src="resources/js/application.js"></script>
    <script src="resources/js/core.js"></script>
    <script src="resources/js/utils.js"></script>
    <!-- Application services -->
    <script src="resources/js/services/user-service.js"></script>
    <script src="resources/js/services/auth-service.js"></script>
    <script src="resources/js/services/evaluation-service.js"></script>
    <script src="resources/js/services/orders-service.js"></script>
    <script src="resources/js/services/contact-service.js"></script>
    <script src="resources/js/services/client-service.js"></script>
    <script src="resources/js/services/member-service.js"></script>
    <script src="resources/js/services/filereader-service.js"></script>
    <!-- Application Controllers -->
    <script src="resources/js/controllers/headerController.js"></script>
    <script src="resources/js/controllers/mainController.js"></script>
    <script src="resources/js/controllers/dashboardController.js"></script>
    <script src="resources/js/controllers/ordersController.js"></script>
    <script src="resources/js/controllers/people/clientsController.js"></script>
    <script src="resources/js/controllers/people/contactsController.js"></script>
    <script src="resources/js/controllers/people/distributorsController.js"></script>
    <script src="resources/js/controllers/people/productsController.js"></script>
    <script src="resources/js/controllers/hierarchyController.js"></script>
    <script src="resources/js/controllers/individuals/clientController.js"></script>
    <script src="resources/js/controllers/individuals/contactController.js"></script>
    <script src="resources/js/controllers/individuals/memberController.js"></script>



</body>
</html>